
//    Font Family

$primary-font	: 'Roboto', sans-serif;
$title-font 	: 'Playfair Display', serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #ad9966;
$title-color	: #000;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #cccccc;
$black			: #000;






